<section class="container-md">
  <form #mForm="ngForm" (ngSubmit)="saveMovie(movie)">
    <div class="form-group">

      <!-- title -->
      <label class="text-warning warning" for="title">Movie Title:</label>
      <input id="title" type="text" class="form-control"
        required pattern="" name="title" [(ngModel)]="movie.title">

        </div>


    <div class="row">
      <div class="form-group col-6">

        <!-- year -->
               <label class="text-warning warning" for="title">Release year:</label>
               <input id="year" type="text" class="form-control"
                 required pattern="" name="year" [(ngModel)]="movie.year">
      </div>
      <div class="form-group col-6">
      <!--  -->

          <label class="text-warning warning" for="category">Choose Category:</label>
          <select id="category" type="text" class="form-control" required
          pattern="" name="category" [(ngModel)]="movie.category">
          <option value="Choose Category" selected disabled>Choose Category
          </option>
          <option value="Drama">Drama</option>
          <option value="Action">Action</option>
          <option value="Fantasy">Fantasy</option>
        </select>
        <button type="button" [disabled]="mForm.invalid"  type="submit" class="btn btn-warning">Save</button>
        <small [hidden]="mForm.valid || mForm.pristine" class="danger">Fill all field to save!</small>
        {{mForm.pristine}}
      </div>
    </div>

  </form>


</section>
